/* .map {
  display: flex;
  justify-content: center;
} */

.markerButton {
  background: none;
  border: none;
  cursor: pointer;
}

.markerButton img {
  width: 20px;
  height: 20px;
}

.container {
  display: flex;
  justify-content: space-around;
}

.listDiv {
  margin-left: 50px;
}

.mapboxgl-ctrl-geocoder {
  display: flex;
  width: 300px;
  /* justify-content: space-around; */
}

.mapboxgl-ctrl-geocoder--input {
  margin-left: 10px;
  /* width: 200px; */
  height: 20px;
}

.mapboxgl-ctrl-geocoder--button {
  margin-left: 0px;
  background-color: white;
  border: none;
}

.suggestions-wrapper {
  position: absolute;
  background-color: white;
  top: 20px;
}

/* 
1. remove bullet point
2. bold title
3. increase title font size
*/

/* <ul> */

.suggestions-wrapper {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  background-color: black;
}

.suggestions {
  min-width: 200px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: grey;
}

.mapboxgl-ctrl-geocoder--suggestion {
  background-color: yellow;
  margin-left: 0px;
}

/* Bedok Reservoir Road Market & Food Centre */
.mapboxgl-ctrl-geocoder--suggestion-title {
  font-size: small;
  font-weight: bold;
  margin: 0px 0px 0px 0px;
  /* background-color: brown; */
}

/* 630 Bedok Reservoir Road, Singapore, North East Community Development Council 470630 */
.mapboxgl-ctrl-geocoder--suggestion-address {
  margin: 0px 10px 5px 0px;
  /* background-color: blue; */
}

.mapboxgl-popup-close-button {
  font-size: 26px;
}
