.map {
  display: flex;
  justify-content: center;
}

.markerButton {
  background: none;
  border: none;
  cursor: pointer;
}

.markerButton img {
  width: 20px;
  height: 20px;
}

@media (max-width: 400px) {
}

@media (max-width: 600px) {
}

@media (max-width: 900px) {
}
